#app4{}
@keyframes change{
    0%{background: #c61a1a;}
    100%{background: #2b61b3;}
}
#app4 .circle{
    width:30vw;
    height:30vw;
    border-radius:50%;
    border: 1px solid red;
}
#app4 .circle.active{
    animation: change 1s infinite alternate linear;
}